@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Code:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.conteudo {
    display: flex;
    flex: 1; 
}

.ladoesquerdo {
    position: relative;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 90% 0, 65% 100%, 0% 100%);
    background-image: url('../Imagens/logologin.png');
    background-size: 110%;
    background-position: 190% center;
    background-repeat: no-repeat;
    background-color: black;   
}

.ladoesquerdo img{
    width: 55%;
    filter: drop-shadow(0 0 25px rgba(255, 200, 100, 0.3));
}
.ladodireito {
    background-color: rgb(0, 0, 0, 0.4);
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(38, 37, 37, 0.3);
    padding: 6px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    right: 75px;

}
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    color: white;
}

form {
    position: absolute;
    width: 300px ;
    margin-top: 80px;
    transition: .5s;
    height: 400px;
}

.botaoform {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 5px 0 rgb(206, 165, 81);
}

.botaoform button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 25px;
}

.botaocor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, goldenrod, rgb(206, 165, 81));
    border-radius: 30px;
    transition: .3s;
}

input[type="text"] {
    margin-top: 40px;
    border: none;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    box-shadow: 0 0 3px 0 darkgrey;
}

input[type="password"] {
    box-shadow: 0 0 3px 0 darkgrey;
    margin-top: 40px;
    border: none;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}
#senha{
    position: relative;
    top: 9px;
    display: flex;
    gap: 5px;
    accent-color: goldenrod;
    
}
legend{
    font-size: 15px;
    color: white;
}
button[type="submit"] {
    background: linear-gradient(goldenrod, rgb(206, 165, 81));
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px ;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: linear-gradient(rgb(206, 165, 81), goldenrod);
    transform: scale(1.05);
    box-shadow: 0 0 10px gold;
    transition: all 0.3s ease;
}

footer {
    background-color: rgb(9, 9, 9);
    text-align: right;
    padding: 10px 0;
}

.pfooter {
    color: aliceblue;
    padding: 0 2rem;
    text-align: right;
}

footer a {
    text-decoration: none;
    padding: 0 2rem;
    color: goldenrod;
}

#conheca{
    position: relative;
    right: 32px;
}

p > a {
    padding: 0px;
}

#cadastrar {
    left: 450px;
}

#cadast {
    margin-top: 25px;
}
.radio {
    display: flex;
    gap: 20px;
    color: white;
    accent-color: goldenrod;
    margin-top: 10px;
}
.pc{
    margin-top: 10px;
}
.ajustarsenha{
    margin-top: -20px;
    
}
.ajustarnome{
    margin-top: -30px;

}
.ajustarmatri{
    margin-top: -20px;
    padding-bottom: 10px;

}