@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    padding: 2rem;
    text-align: left;
}

body{
    background: url(/frontend/Imagens/fundovazio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
}

h1{
    color:goldenrod;
    margin: 10px;
}

form {
    width: 300px;
    margin: 200px auto;
    text-align: center;
    backdrop-filter: blur(5px);
    color: goldenrod;
    -webkit-backdrop-filter: blur(5px);
}

fieldset{
    padding: 50px;
    border-radius: 10%;
}

input{
    margin: 5px auto;
}

input[type="text"], input[type="password"]{
    border-radius: 50px;
    height: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

input::placeholder{
    text-align: left;
}

input[type="submit"]{
    cursor: pointer;
    color: white;
    border-radius: 50px;
    height: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

footer{
    background-color:rgb(0, 0, 0);
    text-align: right;
    padding: 10px 0;
}

img{
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
}

footer p{
    color: white;
}

footer a{
    text-decoration: none;
    color: goldenrod;
            
}
