@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Code:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background: url(/frontend/Imagens/fundovazio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Cabin", sans-serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: black;
    padding: 2rem;
    text-align: left;
}

main{
    flex: 1; 
}

h1{
    color: goldenrod;
    margin: 10px;
}

form {
    width: 300px;
    margin: 200px auto;
    text-align: center;
    backdrop-filter: blur(5px);
    color: goldenrod;
    -webkit-backdrop-filter: blur(5px);
}

fieldset{
    padding: 50px;
    border-radius: 10%;
}

input{
    margin: 5px auto;
    border: none;
}

input[type="text"], input[type="password"]{
    border-radius: 50px;
    height: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

input::placeholder{
    text-align: left;
}

input[type="submit"]{
    cursor: pointer;
    color: white;
    border-radius: 50px;
    height: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

footer{
    background-color: rgb(0, 0, 0);
    text-align: right;
    padding: 10px 0;
    margin-top: auto;
}

footer p{
    color: white;
}

footer a{
    text-decoration: none;
    color: goldenrod;
}

img{
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
}
