@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Code:wght@300..700&display=swap');
*{
    /*content box muda o conteudo dentro do botao e border box muda o tamanho geral do botao*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}
header{
     /*tamanho padrão 2rem*/
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
}
h1{
    color: #ffffff;
}
/*main = elemento pai; section = elemento filho*/
main{
    padding: 2rem;
    /*só o flex alinha as sections na vertical; gap define o espaçamento entre as sections*/
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
h2{
    color: black;
}
/*mudar com dos botões da pergunta 1 e pergunta 5*/
input[type="radio"], input[type="checkbox"]{ 
    accent-color: #ccd595;
}
input[type=text] /*também podemos colocar o password, email e date*/{
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #ccd595;

    /* se quiser uma possivel caixa de texto: border-radius:100px (arredonda a caixa de texto); background-color: transparent; para deixar da msm cor do fundo geral */
}
/*para estilizar o placeholder, que é um pseudoelemento*/
input::placeholder{
    color:gray;
}
select{
    /*cursor é para mudar o icone do mouse qnd passa por cima*/
    cursor:pointer;
    background-color: #ccd595;
    color: black;
    border-radius: 5px;
    border:none;
    outline: none;
}
/*para imagem
img{
    width(tamanho): 5rem;
    border-radius: 5px
*/
table{
    width: 100%;
    border-collapse: collapse; /*normalizar a borda*/

}
th{
    background-color: #ccd595;
    color: #331f19;
    padding: 1rem;

}
td{
    color: #331f19;
    padding: 1rem;
    text-align: center;
}

/*tfoot td {
    background-color: ;
    color;
   q está no rodapé da tabela
}*/
details{
    background-color: #ccd595;
    border-radius: 5px;
    padding: 1rem;
}
summary{
    color: black;
    margin: 0.5rem;
    cursor: pointer;

}
ul{
    margin-left: 1.5rem;
}
ol{
    margin-left: 1.5rem;
}

fieldset{
    border: 2px solid #ccd595;
    border-radius: 5px;
    padding: 1rem;

}
textarea{
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccd595;
    background-color: transparent;
}
button{
    background-color: goldenrod;
    border-radius: 5px;
    border:none;
    padding: 0.8rem;
    cursor: pointer;
}
footer{
    background-color: #331f19;
}
/*tem q usar no ponto para se referir a classe*/
.paragrafo-footer{
    color: #ffffff;
    padding: 0 2rem;
    text-align: center;
}
footer a{
    /*text decoration tira a decoração do link*/
    text-decoration: none;
    color: #ccd595;
}